<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/hero.css">
    <title>GDSC-WoC | Hero</title>
</head>
<body>
    <div id="woc-title-box">
        <span id="woc-title">Winter of Code</span><span id="here">is here!</span>
        <div id="description-box">
            <p>A month long coding extravaganza for freshers and open-source enthusiasts by Google DSC Chandigarh University.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-4 col-xs-4">
                <a id="know-how-link" href="#">
                    <div id="know-how" class="hero-card">
                        <div id="text-box">
                            <span>Know how it works</span>
                            <p>Get complete steps to understand, how Google DSC CU Winter of Code works. Know about it</p>
                        </div>
                    </div>
                </a>
            </div>
            <div id="youtube-card" class="col-lg-6 col-md-8 col-sm-6 col-xs-4">
                <img src="../images/logo.png">
                <div id="vid-title">
                    <span>Everything about Winter of Code GDSC CU</span>
                </div>
                <a href="#">
                    <div id="play-button">
                        <img src="../images/playbg.png">
                        <div id="play">
                            <img src="../images/play.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div>
        <hr id="hero-line"/>
    </div>
</body>
</html>