@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


.sponser-parent{
    display: inline-block;
    
}
.heading{
    margin-left: 4rem;
    width: 10rem;
    font-family: "open sans",sans-serif;
}
.subheading{
    margin-left: 4rem;
    line-height:0;
    font-family: "open sans",sans-serif;
}
p{
    font-family: "open sans",sans-serif;
    font-weight: bold;
}

/* CHANDIGARH UNIVERSITY */

.cu-img{
position: absolute;
width: 120px;
height: 120px;
margin-top: 3rem;
margin-left:5rem;
bottom: 42rem;
border-radius:50%;
background: #F8F9FA;
}
.cu-para{
    position: absolute;
    margin-left:6rem;
    bottom: 37rem;
    width: 5rem;
    text-align: center;
}

/* MICROSOFT */

.ms-img{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 3rem;
    margin-left:17rem;
    bottom: 42rem;
    border-radius:50%;
    background: #F8F9FA;
    }
    .ms-para{
        position: absolute;
        margin-left:18rem;
        bottom: 38rem;
        width: 5rem;
        text-align: center;
    }

        
    /* GOOGLE */

    .g-img{
        position: absolute;
        width: 120px;
        height: 120px;
        margin-top: 3rem;
        margin-left:28rem;
        bottom: 42rem;
        border-radius:50%;
        background: #F8F9FA;
        }
        .g-para{
            position: absolute;
            margin-left:29rem;
            bottom: 38rem;
            width: 5rem;
            text-align: center;
        }

        /* INTEL */

        .intel-img{
        position: absolute;
        width: 120px;
        height: 120px;
        margin-top: 3rem;
        margin-left:38rem;
        bottom: 42rem;
        border-radius:50%;
        background: #F8F9FA;
        }

            .intel-para{
            position: absolute;
            margin-left:39rem;
            bottom: 38rem;
            width: 5rem;
            text-align: center;
        }

/* IEE */

.iee-img{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 3rem;
    margin-left:48rem;
    bottom: 42rem;
    border-radius:50%;
    background: #F8F9FA;
    }
    .iee-para{
        position: absolute;
        margin-left:49rem;
        bottom: 38rem;
        width: 5rem;
        text-align: center;
    }
    

 /* DATACAMP */

    .dc-img{
        position: absolute;
        width: 120px;
        height: 120px;
        margin-top: 3rem;
        margin-left:59rem;
        bottom: 42rem;
        border-radius:50%;
        background: #F8F9FA;
        }
        .dc-para{
            position: absolute;
            margin-left:60rem;
            bottom: 38rem;
            width: 5rem;
            text-align: center;
        }

/* E-CELL IIT BOMBAY */

.ecell-img{
    position: absolute;
    width: 120px;
    height:120px;
    margin-top: 3rem;
    margin-left:70rem;
    bottom: 42rem;
    border-radius:50%;
    background: #F8F9FA;
    }
    .ecell-para{
        position: absolute;
        margin-left:71.4rem;
        bottom: 37rem;
        width: 5rem;
        text-align: center;
    }